body{ 
    background-image: url(PUMA12.jpg); 
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; 
    background-attachment: fixed;
}  
h3{
    color: rgb(231, 217, 17);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:250 ;
}
h5{ 
    background-color: rgb(42, 45, 224); 
    font-size:30px ;
      
}  
h6{ 
    background-color: rgb(42, 84, 224); 
    font-size:30px ;
      
} 
.contenedor{  
    display: flex;

}
.cabezera{ 
    background-color: rgb(200, 233, 54); 
    text-align: center; 
    font-size:40px ;  
} 
.derecha1{  
    flex: 1; 
    background-color: rgb(5, 5, 5); 
    text-align: center;
} 
.izquierda1{ 
    flex: 1; 
    background-color: rgb(3, 3, 3); 
    text-align: center;
} 
.derecha{  
    flex: 1; 
    background-color: rgb(5, 5, 5); 
    text-align: center;
} 
.izquierda{ 
    flex: 1; 
    background-color: rgb(3, 3, 3); 
    text-align: center;
}
p{
    color:rgb(31, 228, 13);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-size: 30;
}  
.galeria{
    margin: 5px;
    border: 10px solid rgb(31, 43, 216);
    width: 190px; 
    float: left;
} 
.galeria:hover{   
    border: 12px solid rgb(230, 233, 43);
}
.imagen{
    width: 100%;
    height: auto; 
    border-radius: 25%;
}
.textoinferior{
    background-color:rgb(15, 13, 13);
    text-align: center;
    padding: 20px; 
    color: white;

} 
